/* styles.css */
body {
    background-color: #FFF8DC;
    color: black;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
	text-align: center;
	text-shadow: black;
	color: #191970;
    padding: 10px 0;
}

logo {
	height:200px;
	width:150px;
	border: solid;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

img {
	float: left;
	margin: 0 20px 0 0;
}

.staff-card {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;
            width: 300px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            float: left;
        }

        .staff-image {
            max-width: 100%;
            border-radius: 50%;
        }

        /* Clear floats to ensure proper alignment */
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
.content {
    margin: 20px;
    text-align: left;
}

.content h1 {
    color:#4169E1 ;
}

.content h2 {
    color: #4169E1;
}

.content h3 {
    color: #4169E1;
}

.content p {
    color: black;
}

.teacher, .event {
    margin-bottom: 20px;
}

.contact-links {
    list-style: none;
    padding: 0;
}

.contact-links li {
    margin-bottom: 10px;
}

.contact-links a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}
